<div>
    <div *ngIf="!editMode">
        <h2>{{video.title}}</h2>
        <iframe width="100%" height="300" [src]="video.url | safe"></iframe>
        <p class="font-weight-light text-justify">
            {{video.description}}
            <a class="text-decoration-none" (click)="setEditMode(true)">Modify</a>
        </p>
    </div>
    <form *ngIf="editMode">
        <div class="form-group">
            <input type="text" class="form-control" name="title" required placeholder="title" [(ngModel)]="video.title">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="url" required placeholder="url" [(ngModel)]="video.url">
        </div>
        <div class="form-group">
            <textarea type="text" class="form-control" rows="5" name="description" placeholder="description"
                [(ngModel)]="video.description"> </textarea>
        </div>
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
        <button style="margin-left: 5px;" type="button" class="btn btn-secondary" (click)="setEditMode(false)">Cancel</button>
        <button style="margin-left: 5px;" type="button" class="btn btn-danger" (click)="deleteVideo()">Delete</button>
    </form>
</div>