<div class="row">
    <div class="col-sm-9">
        <video-detail *ngIf="selectedVideo" [video]="selectedVideo" (videoUpdated)="onVideoUpdated($event)" (videoDeleted)="onVideoDeleted($event)"></video-detail>
        <video-add *ngIf="!selectedVideo" (videoAdded)="onVideoAdded($event)" ></video-add>
    </div>
    <div class="col-sm-3">
        <button  type="button" class="btn btn-primary btn-block" (click)="addVideo()">New Video</button>
        <video-list [videos]="videos" (videoSelected)="onVideoSelect($event)"></video-list>
    </div>
</div>